:root {
    --light: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-image: url(../media/purple-mountain-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

main {
    flex: 1;
}

footer {
    min-height: 50px;
}

footer p {
    margin: 20px 0;
    font-size: 1.4em;
}

footer a {
    text-decoration: none;
    color: var(--dark);
}

footer a:hover {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 10px 0;
    letter-spacing: 10px;
    font-size: 4em;
    font-weight: normal;
    color: var(--light);
    text-shadow: -2px 2px var(--dark);
}

button {
    border: none;
    border-radius: 5px;
    padding: 17px;
    background-color: transparent;
    font-size: 2em;
    color: var(--light);
}

button:hover {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 380px;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 13px;
    background-color: var(--dark);
    opacity: .6;
    box-shadow: 0 0 10px 1px var(--primary-dark);
}

.screen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 120px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: var(--light);
    word-break: break-all;
    text-align: left;
    word-spacing: -10px;
}

.screen .top {
    align-self: flex-start;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.screen .bottom {
    align-self: flex-end;
    font-size: 2.8em;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#clear, #delete {
    grid-column: span 2;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-button {
    margin: 20px;
    margin-bottom: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark);
    font-size: 20px;
}