:root {
    --light: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

body {
    background-image: url(../media/purple-mountain-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    text-align: center;
}

header {
    min-height: 50px;
}

main {
    flex: 1;
}

footer {
    min-height: 50px;
}

footer p {
    margin: 20px 0;
    font-size: 1.4em;
}

footer a {
    text-decoration: none;
    color: var(--dark);
}

footer a:hover {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 40px 0 10px;
    letter-spacing: 10px;
    font-size: 4em;
    font-weight: normal;
}

button {
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color: transparent;
    font-size: 2em;
    color: var(--light);
}

button:hover {
    background-color: var(--light);
    color: var(--dark);
    cursor: pointer;
}

.container {
    width: 420px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--dark);
    opacity: .5;
    box-shadow: 0 0 10px 1px var(--primary-dark);
}

.screen {
    height: 150px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--light);
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#clear, #delete {
    grid-column: span 2;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}